# Proyek Analisis Data: [Bike Sharing Dataset]
- **Nama:** Simiao S. da Gama
- **Email:** simiao.alnuco@gmail.com
- **ID Dicoding:** simiao

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from babel.numbers import format_currency

## Data Wrangling

### Gathering Data

In [9]:
df_day = pd.read_csv("Bike Sharing Dataset/day.csv")
df_day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [10]:
df_hour = pd.read_csv("Bike Sharing Dataset/hour.csv")
df_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

**Insight:**
- xxx
- xxx

In [11]:
print(df_hour.columns)

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [12]:
print(df_day.columns)

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [13]:
print(df_day[3,4])

KeyError: (3, 4)

### Assessing Data

### Menilai Tabel Day

In [ ]:
df_day.info()

##### Check Missing Vales on Day.csv

In [ ]:
df_day.isna().sum()

In [ ]:
print("Jumlah Duplikasi di Tabel Day.csv : ", df_day.duplicated().sum())

In [ ]:
df_day.describe()

### Menilai Tabel Hour

In [ ]:
df_hour.info()

#### Check Missing Value on Tabel hour

In [ ]:
df_hour.isna().sum()

In [ ]:
print("Jumlah Data Duplicated di tabel Hour : ", df_hour.duplicated().sum())

In [ ]:
df_hour.describe()

### Cleaning Data

#### Karena tidak duplicated data dan missing value untuk data day dan hour maka kita tidak gunakan cleaning data

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore df_day

In [ ]:
df_day.sample(5)

In [ ]:
df_day.describe(include="all")

In [ ]:
df_day.instant.is_unique

In [ ]:
df_day.instant.duplicated

In [ ]:
df_day.groupby(by="weekday").agg({
    "instant": "nunique",
    "mnth": ["max", "min", "mean", "std", ]
})

### Menghubungkan Semua Data

In [ ]:
all_df = pd.merge(
    left=df_hour,
    right=df_day,
    how="left",
)
all_df.head()

### Save Merged Data di Dashboard Folder yang nanti digunakan di Dasboard

In [14]:
#Put it into .csv file
# Save the merged DataFrame to a CSV file
all_df.to_csv('/Dashboard/merged_data.csv', index=False)

NameError: name 'all_df' is not defined

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:
### Insight: Weather Conditions vs. Total Bike Rentals - Day

In [ ]:
# Assuming `data` is the original dataframe
# Map weather conditions to readable labels
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

weather_mapping = {
    1: 'Clear/Few Clouds', 
    2: 'Mist/Cloudy', 
    3: 'Light Rain/Snow', 
    4: 'Heavy Rain/Snow'
}

# Apply the mapping directly to the 'weathersit' column
df_day['weather'] = df_day['weathersit'].map(weather_mapping)


# Create a box plot to show the distribution of bike rentals by weather condition
plt.figure(figsize=(10, 6))
sns.barplot(x='weather', y='cnt', data=df_day, palette="Set2")
plt.title('Bike Rentals by Weather Condition using Day Dataset')
plt.xlabel('Weather Condition')
plt.ylabel('Number of Rentals')
plt.xticks(rotation=45)
plt.show()

### Insight: Weather Conditions vs. Total Bike Rentals - Hou

In [ ]:
# Assuming `data` is the original dataframe
# Map weather conditions to readable labels
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

weather_mapping = {
    1: 'Clear/Few Clouds', 
    2: 'Mist/Cloudy', 
    3: 'Light Rain/Snow', 
    4: 'Heavy Rain/Snow'
}

# Apply the mapping directly to the 'weathersit' column
df_hour['weather'] = df_hour['weathersit'].map(weather_mapping)


# Create a box plot to show the distribution of bike rentals by weather condition
plt.figure(figsize=(10, 6))
sns.barplot(x='weather', y='cnt', data=df_hour, palette="Set2")
plt.title('Bike Rentals by Weather Condition using Hour Dataset')
plt.xlabel('Weather Condition')
plt.ylabel('Number of Rentals')
plt.xticks(rotation=45)
plt.show()

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2